<% provide(:title, "About") %>
<h1>About</h1>
<p>
  My name is Stalin Vasquez and I'm building this Twitter like app to improve my skills on Ruby on Rails and coding in general.</p>
<p>
  As a junior web developer with a background in Civil Engineer I enjoy writing come to build app that make peoples live easier, better, more enjoyable. I’m currently working on this Twitter like app and Mike, an app that makes you sounds smart in a middle of a conversation even if you have no idea what they’re talking about from science to baseball, I come from the same country as Jose Bautista (we’re not friends) but if you meeting and have the app on your phone you can have a conversation with Him and sounds pretty knowledgable about the Dominican Republic.</p>

<p> You can find more about me and my skills here on my
  <a href="https://resume.creddle.io/resume/d67a5bplva9"><em>Resume</em></a>
  and also my<a href="https://github.com/stalintouch">Github account</a>
</p>
