<footer class="footer">
  <small>
    Find my other projects on my  <a href="https://resume.creddle.io/resume/d67a5bplva9">Resume.</a>
    This app is being build by <a href="https://github.com/stalintouch">Stalin Vasquez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
